<?xml version="1.0" encoding="utf-8" ?>
<Root>
	<EthName>eth0</EthName>
	<ListenPort>9090</ListenPort>
	<WorkProcessCount>1</WorkProcessCount>
	<MaxConnectCount>304857</MaxConnectCount>
	<MaxTxSpeedByte>1832160</MaxTxSpeedByte>
	<MaxRxSpeedByte>548576</MaxRxSpeedByte>
	<SynRetries>2</SynRetries>
	<ConnectTimeoutSec>10</ConnectTimeoutSec>
	<ScanLowRange>1.0.0.0</ScanLowRange>
	<ScanHighRange>255.255.255.255</ScanHighRange>
	<ScanIntervalSec>3600</ScanIntervalSec>
	<ValidateIntervalSec>600</ValidateIntervalSec>
	<ProxyErrorRetryNum>300000</ProxyMaxErrorRetryNum>
	<ScanPort>80</ScanPort>
	<TryHttpUrl size = "708">http://www.baidu.com/img/baidu_jgylogo1.gif</TryHttpUrl>
	<TryHttpsUrl size = "84">https://i.alipayobjects.com/i/ecmng/png/201501/4Jdkug9K2v.png</TryHttpsUrl>
	<ProxyJudyUrl maxsize = "1200">http://www.proxyjudge.net/</ProxyJudyUrl>
	<ShmKey>12345</ShmKey>
	<ShmSize>20485760</ShmSize>
	<MaxProxyNum>200000</MaxProxyNum>
	<ShmDumpFile>shm.dump</ShmDumpFile>
	<ShmDumpIntervalSec>600</ShmDumpIntervalSec>
</Root>
